<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="#" class="navbar-brand"><h4>My Restaurant</h4></a>         
            <ul class="navbar-nav px-2">
                <li class="nav-item">
                    <a href="" class="nav-link" >Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contact Us</a>
                </li>
            </ul>
            <div class="d-flex ">
                <button type="button" (click)="clickAddRest()" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal">Add Restaurant</button>
                <button class="btn btn-danger mx-3" routerLink="/login">Logout</button>
            </div>       
    </div>
</nav>
<div class="container-fluid bg-info">
    <div class="p-5 mb-4 rounded-3">
        <h1 class="display-5 fw-bold fst-italic">Welcome to the site</h1>
        <p class="col-md-8 fs-4 ">You can save records of all Restaurant</p>
    </div>
</div>
<div class="container ">
    <table class="table">
        <thead>
            <tr>
               <th scope="col">#</th> 
               <th scope="col">Restaurant Name</th> 
               <th scope="col">Email</th> 
               <th scope="col">Mobile</th> 
               <th scope="col">Address</th> 
               <th scope="col">Services</th> 
               <th scope="col">Action</th> 
            </tr>
        </thead>
        <tbody class>
            <tr *ngFor="let data of allRestaurentData">
                <th scope="row">{{data.id}} </th>
                <td >{{data.restaurent_name}}</td>
                <td >{{data.email}}</td>
                <td > {{data.mobile}} </td>
                <td > {{data.address}} </td>
                <td > {{data.services}} </td>
                <td ><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal" (click)="editRestaurent(data)">Edit</button>&nbsp;
                    <button class="btn btn-danger" (click)="delRestaurent(data)">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>

    <!-- Modal body-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Add Restaurent details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formValue">
                        <div class="mb-3">
                            <label for="name" class="form-label">Restaurant Name</label>
                            <input type="text" class="form-control" id="name" placeholder="enter Restaurant Name" formControlName="restaurent_name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter email" formControlName="email">
                        </div>

                        <div class="mb-3">
                            <label for="mobile" class="form-label">Mobile</label>
                            <input type="number" class="form-control" id="mobile" placeholder="enter mobile number" formControlName="mobile">
                        </div>
                        <div class="mb-3">
                            <label for="Address" class="form-label">Address</label>
                            <textarea class="form-control" id="Address" placeholder="enter address" rows="2" formControlName="address"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="Services" class="form-label">Services</label>
                            <textarea class="form-control" id="services" placeholder="enter services"  formControlName="services"></textarea>
                        </div>
                        
                    </form>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="clear">Close</button>
                <button *ngIf="showAddBtn" type="button" class="btn btn-primary" (click)="addRestaurent()" >Add details</button>
                <button *ngIf="showEditBtn" type="button" class="btn btn-primary" (click)="updateRestaurent()">Update details</button>
            </div>
            </div>
        </div>
    </div>
</div>